<div class="container-fluid">
  <div class="row">
    <app-fa-header></app-fa-header>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <form class="form-inline">
        <div class="form-group">
          
          <input type="text" class="form-control" id="enterlocation" placeholder="Enter Location">
        </div>
        <button class="btn btn-default">
           <span class="glyphicon glyphicon-search"></span>
          Search
          </button>
        <button class="btn btn-default" (click)="locate()">
          <span class="glyphicon glyphicon-globe"></span>
          Locate Me!
          </button>
          {{lat}},{{long}}
      </form>
    </div>
  </div>
</div>