<div class="container-fluid">
  <div class="row">
    <app-fa-header></app-fa-header>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 sk-wave">
      <div class="sk-rect sk-rect1"></div>
      <div class="sk-rect sk-rect2"></div>
      <div class="sk-rect sk-rect3"></div>
      <div class="sk-rect sk-rect4"></div>
      <div class="sk-rect sk-rect5"></div>
      Loading
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <app-fa-list [restaurants]="restaurants"></app-fa-list>
    </div>
  </div>
</div>